<!-- -->
<launch>
  <!-- CARLA connection -->
  <arg name='host' default='172.28.141.33'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='10'/>

  <!-- Ego vehicle -->
  <arg name='role_name' default='brandons_ride'/>
  <arg name="vehicle_filter" default='vehicle.*'/>
  <arg name="spawn_point" default="377.414825439,6.3168129921,0.281942427158,0.0,134.097793579,0.0"/><!-- use comma separated format "x,y,z,roll,pitch,yaw" -->

  <arg name="town" default='Town04'/>

  <arg name='passive' default=''/>

  <arg name='synchronous_mode' default=''/>
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default=''/>
  <arg name='fixed_delta_seconds' default=''/>


  <include file="$(find research)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='passive' value='$(arg passive)'/>
    <arg name='synchronous_mode' value='$(arg synchronous_mode)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>

  <include file="$(find carla_spawn_objects)/launch/carla_example_ego_vehicle.launch">
    <arg name="objects_definition_file" value='$(find research)/config/objects.json'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name="spawn_point_ego_vehicle" value="377.414825439,6.3168129921,0.281942427158,0.0,134.097793579,0.0"/>
    <arg name="spawn_sensors_only" value="false"/>
  </include>

  <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

  <include file="$(find carla_waypoint_publisher)/launch/carla_waypoint_publisher.launch">
    <arg name="host" value="$(arg host)" />
    <arg name="port" value="$(arg port)" />
    <arg name="timeout" value="$(arg timeout)" />
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

</launch>
